<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Projet Chatbot</h1>
    <button onclick="createConversation()">Create New Conversation</button>
    <select id="conversationSelect" onchange="loadConversation(this.value)">
        <!-- Les options seront ajoutées dynamiquement -->
    </select>
    <div id="chatbox"></div>
    <input type="text" id="userInput" placeholder="Type your message here...">
    <button onclick="sendMessage()">Send</button>

    <div class="members">
        <h2>Membres du projet</h2>
        <p>Phuong Dung NGUYEN</p>
        <p>Adam LOUAFI</p>
        <p>Arnaud RAFALIMANANA--CHAN PENG</p>
        <p> Maël GUEGUEN</p>
        <p>Nathan PROVOST</p>
        <p>Zachary Akakpo</p>
        <p>Théo MARTIN</p>
    </div>

    <script src="static/script.js"></script>
</body>
</html>